@import '~antd/dist/antd.css';

.mainPageSection {
    background-color: #ffffff;
    height: 100%;
    width: 70%;
    align-items: start;
    padding-bottom: 64px;
    margin: 50px 15% 50px 15%;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.avatar {
    width: 128px;
    height: 128px;
    margin: 32px 0 0 32px;
    border-radius: 10px 10px 10px 10px;
}

.userText {
    margin: 8px 0 0 32px;
}

.fab{
    display: block;
    float: right;
    margin-top: 16px;
    margin-right: 16px;
}

p {
    display: block;
}

.taskArea{
    margin: 32px 0 0 32px;
    background-color: #EEEEEE;
}

.mainPageSection{

}

.taskName{
    margin-left: 32px;
}

.taskDescription{
    margin: 0 32px 0 32px;
    font-size: 24px;
    font-family: "Noto Sans Mono CJK JP Regular";
}

.taskArea{
    margin: 8px 16px 0 16px;
    display: flex;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    flex-direction: column;
    vertical-align: middle;
}
.flexMain{
    display: flex;
    flex-direction: row;
}

.containerTasks{
    width: 100%;
    display: flex;
    flex-direction: column;
}